In [1]:
import numpy as np
import pandas as pd

Question 1

Extending lists

In [2]:
a = [1,2,3,4,5,6]
b= [13,21,34]

a.extend(b) 
a

[1, 2, 3, 4, 5, 6, 13, 21, 34]

Question 2

Identity Matrix

In [3]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

Question3

fuel type code with the lowest average fuel cost per unit burned

In [10]:
url = 'https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
data_given = pd.read_csv(url, error_bad_lines=False)
data_given

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [11]:
data_given.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

#answer = gas

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

Question 4 

The standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit)

In [12]:
data_given['fuel_mmbtu_per_unit'].describe().round(2)

#answer = 10.60, 17.01

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

Question 5

Skewness and kurtosis for the fuel quantity burned

In [14]:
data_given_skewness = data_given['fuel_qty_burned'].skew().round(2)
data_given_kurtosis = data_given['fuel_qty_burned'].kurt().round(2)

print(data_given_skewness)
print(data_given_kurtosis)

15.85
651.37

Question 6

Missing value and percentage of the missing rows

In [15]:
data_given.isnull().sum()

#Feature: fuel_unit,  Total: 180,  Percent: 0.61

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [16]:
missing_Values = data_given['fuel_unit'].isnull().sum()
length_of_column = len(data_given['fuel_unit'])

percentage = ((missing_Values / length_of_column)*100).round(3)

percentage

0.61

Question 7

In [17]:
data_given['fuel_unit'].value_counts()

#the type of missing value is categorical and the imputation technique would be by entering the most occuring value

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

Question 8

Feature with second and third lowest correlation with the Fuel Cost Per Unit Burned

In [18]:
data_given.corr(method='kendall')['fuel_cost_per_unit_burned'].sort_values()

fuel_qty_burned                -0.261359
utility_id_ferc1               -0.049750
report_year                     0.164699
fuel_cost_per_mmbtu             0.321004
fuel_mmbtu_per_unit             0.346381
fuel_cost_per_unit_delivered    0.743975
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

Question 9

Percentage change in the fuel cost per unit burned in 1998 compared to 1994

In [19]:
data_given.groupby('report_year')['fuel_cost_per_unit_burned'].sum().pct_change(4)

#answer = -46.7%

report_year
1994         NaN
1995         NaN
1996         NaN
1997         NaN
1998   -0.467365
1999   -0.703858
2000    2.777777
2001    0.102928
2002   -0.130617
2003    0.183406
2004   -0.434486
2005   -0.246397
2006    0.543145
2007    0.716863
2008    0.702318
2009    0.939203
2010    0.762400
2011    0.460971
2012    0.023485
2013    0.164458
2014    0.562218
2015   -0.304976
2016   -0.205813
2017   -0.203221
2018   -0.572250
Name: fuel_cost_per_unit_burned, dtype: float64

Question 10

Year with the highest average fuel cost per unit delivered

In [20]:
average_cost = data_given.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()
average_cost.sort_values()


#answer = 1997

report_year
1999       25.551627
1995       32.735269
2006       38.657484
2005       41.438184
2007       43.325023
2017       46.196861
2002       47.594361
2003       55.663493
2008       58.588197
2011       59.774667
2001       60.050396
2012       60.994502
1994       63.636060
2010       91.862105
2016      103.901761
2004      139.524275
2013      172.307591
2014      192.737183
1998      287.154420
2015      326.535511
2018      499.269966
2009      652.694163
2000      985.362877
1996     9196.705948
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64